@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");

:root {
  color: red;
  --primary-color: coral;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
}

.souq-ad {
  min-width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20;
  flex-direction: column;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
  color: #7f7e7d;
  font-weight: bolder;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
}

.progress {
  background-color: #008cfc;
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  animation: waves 2s ease-in-out infinite;
}

.loading-progress {
  /*  */
  background-color: #008cfc;
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

}


@keyframes waves {

  0%,
  100% {
    clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
  }

  20% {
    clip-path: polygon(0 12%, 7% 10%, 14% 9%, 21% 8%, 28% 9%, 34% 11%, 40% 15%, 46% 20%, 50% 23%, 54% 26%, 60% 28%, 66% 29%, 70% 29%, 77% 28%, 83% 26%, 89% 24%, 95% 22%, 100% 20%, 100% 100%, 0% 100%);
  }

  40% {
    clip-path: polygon(0 15%, 9% 21%, 14% 23%, 18% 25%, 21% 26%, 30% 28%, 32% 28%, 40% 27%, 46% 26%, 52% 23%, 57% 19%, 62% 15%, 68% 11%, 73% 8%, 79% 6%, 86% 5%, 93% 5%, 100% 6%, 100% 100%, 0% 100%);
  }

  60% {
    clip-path: polygon(0 12%, 7% 10%, 14% 9%, 21% 8%, 28% 9%, 34% 11%, 40% 15%, 46% 20%, 50% 23%, 54% 26%, 60% 28%, 66% 29%, 70% 29%, 77% 28%, 83% 26%, 89% 24%, 95% 22%, 100% 20%, 100% 100%, 0% 100%);
  }

  80% {
    clip-path: polygon(0 8%, 7% 6%, 14% 5%, 21% 5%, 28% 6%, 34% 8%, 40% 12%, 46% 17%, 50% 20%, 54% 23%, 60% 25%, 66% 26%, 70% 26%, 77% 25%, 83% 23%, 89% 21%, 95% 19%, 100% 17%, 100% 100%, 0% 100%);
  }
}


.target-duration {
  margin-top: 5px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target-duration.visible {
  visibility: visible;
  color: #5571e2;
}

.target-text-duration {
  color: #676767
}

.preloader {
  /* position: absolute; */
  /* display: flex; */
  /* display: none; */
  /* remove display none to show preloader */
  /* justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  transition: opacity 2s ease-in-out;
  overflow: none; */
}

.loading-finish {
  /* git add  */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  border: 1px solid #e7e7e7;
  border-top: none;
  width: 90%;
  margin: 0 auto;
  background-color: #fffcfc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 2;
}

nav .logo {
  flex: 1;
}

nav ul {
  position: absolute;
  right: auto;
  top: 59;
  border: 1px solid #e7e7e7;
  border-top: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  background-color: #fffcfc;
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
  height: 10%;
  z-index: -1;
}

nav ul li {
  list-style: none;
  opacity: 0;
}

nav ul li a {
  text-decoration: none;
  color: #3f8ff3;
}

.ham-menu {
  cursor: pointer;
  z-index: 2;
}

.ham-menu .line {
  width: 30px;
  height: 04px;
  margin-bottom: 5px;
  background-color: #8097f5;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.slide {
  display: flex;
  transform: translateY(0px);
}

.tasbeeh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  min-height: 100vh;
  min-width: 90vw;
}

.options {
  margin-top: 50px;
  text-align: center;
  /*   z-index: -2; */
}

.options button {
  padding: 9px;
  min-width: 130px;
  background-color: #3c8ae7;
  border-radius: 54px;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
}

.options-container {
  display: flex;
  height: 0;
  overflow-y: hidden;
  flex-direction: row;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 11px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;

}

.title-button {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: #e9e9e9;
  padding-inline: 17px;
  border-radius: 10px;
  margin-block: 14px;
  padding-block: 13px;
}

.title-button span {
  margin-bottom: 5px;
  color: black;
}

.title-button button {
  margin-bottom: 5px;
}

.title-button button:hover {
  background-color: #5f5353;
}

.toggle-options {
  /* display: flex; */
  height: 100%;
  transition: all 1s ease-in-out;
}

.target-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.target-container input {
  height: 100px;
  width: 100px;
  text-align: center;
}

.target-container input:focus {
  border-bottom: 1px solid #2196f3;
}

.tasbeeh {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  width: 220px;
  height: 350px;
  border: 1px solid #eee;
  border-radius: 16px;
  padding: 10px 15px;
  box-shadow: 1px 1px 7px 1px #a29595fc;
  position: relative;
  overflow-y: hidden;
}

.tasbeeh-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6px;
  z-index: 1000;
}

.tasbeeh .logo {
  margin-top: 15px;
  margin-bottom: 2px;
  z-index: 1000;
}

.tasbeeh button {
  box-shadow: 0px 0px 6px 0px #5f5353fc;
  outline: none;
  webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tasbeeh button:active {
  background-color: #f0f0f0;
}

.tasbeeh input {
  width: 80%;
  padding: 8px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #868686;
  height: 60px;
  outline: none;
  text-align: end;
  background-color: transparent;
  z-index: 1000;
}

.tasbeeh input:focus {
  border-bottom: 1px solid #2196f3;
}

.reset-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5px;
}

.add-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.deduct-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 5px;
}

.reset {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 22px;
  color: rgb(151 151 151);
  background-color: #fff;
}

.reset:hover {
  background-color: #dedede;
  cursor: pointer;
}

.deduct {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 22px;
  color: rgb(151 151 151);
  background-color: #fff;
}

.deduct:hover {
  background-color: #dedede;
  cursor: pointer;
}

.add {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 170px;
  height: 180px;
  color: #eee;
  background-color: #fff;
}

.add:hover {
  color: rgba(133, 133, 133, 0.933);
  cursor: pointer;
}

.comment {
  width: 300px;
}

.col {
  border: 1px solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 8px;
}

.col img {
  height: 20px;
  margin-right: 5px;
}

.tasbeeh-textarea {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px;
  min-height: 100px;
}

footer {
  background-color: #000;
  margin-top: 12px;
  padding: 14px;
  color: #fff;
  display: flex;
  flex-direction: row;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 2px;
}

footer .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

footer .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

footer .head {
  margin-bottom: 5px;
  text-decoration: underline;
}

@media screen and (min-width: 800px) {
  .options-container {
    justify-content: unset;
  }

  nav ul {
    width: 20%;
  }

  .tasbeeh-container {
    /*     height: 94%; */
  }

  .options button {
    padding: 9px;
    min-width: 130px;
  }

  .target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .target-container input {
    height: 100px;
    width: 100px;
  }

  .tasbeeh {
    margin: 0 auto;
    width: 230px;
    height: 350px;
    padding: 10px 15px;
  }

  .tasbeeh-action {
    width: 100%;
    height: 100%;
    padding: 6px;
  }

  .tasbeeh .logo {
    margin-top: 15px;
    margin-bottom: 2px;
  }

  .tasbeeh input {
    width: 80%;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    height: 60px;
  }

  .reset-container {
    width: 100%;
    margin-right: 5px;
  }

  .add-container {
    width: 100%;
  }

  .deduct-container {
    width: 100%;
    margin-left: 5px;
  }

  .reset {
    padding: 5px;
    border: 1px solid;
    font-size: 9px;
    width: 20px;
  }

  .reset:hover {
    color: #d04511;
    cursor: pointer;
  }

  .deduct {
    padding: 5px;
    border: 1px solid;
    font-size: 9px;
    width: 20px;
  }

  .deduct:hover {
    color: #da5f31;
    cursor: pointer;
  }

  .add {
    padding: 5px;
    font-size: 9px;
    width: 170px;
    height: 170px;
  }

  .add:hover {
    color: #c57253;
    cursor: pointer;
  }

  .comment {
    width: 300px;
    margin-top: 14px;
    margin-top: 20px;
  }

  .comment span {
    color: #838383;
  }

  .tasbeeh-textarea {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes line {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180px);
  }
}

/* dark theme */

.dark {
  background-color: black;
  color: #fff;
}

.dark .tasbeeh {
  background-color: white;
  color: #fff;
  border: none;
  box-shadow: none;
}

.dark .comment span {
  color: #fff;
}

.dark .comment textarea {
  color: #000;
  border: none;
  box-shadow: none;
}

.dark .tasbeeh .logo {
  /* background-color: white; */
  color: #000;
  border: none;
  box-shadow: none;
}

.dark .tasbeeh button {
  border: none;
  background-color: #565252;
  color: #fff;
}

.dark .tasbeeh button:active {
  border: none;
  background-color: #ffffff;
  color: #000;
}

.dark .digital-tasbeeh-value {
  border-bottom: 1px solid #000;
  /* color: ; */
}

.dark footer {
  background-color: #fff;
  color: #000;
}

.dark footer a {
  color: #000;
}

.dark nav a {
  color: #000;
}

.dark .options {
  /*   background-color:#fff; */
  /*   color:#000; */
  border: none;
}

.dark .options-button {
  color: #000;
  background-color: #fff;
}

.dark .options-container button {
  color: #000;
  background-color: #fff;
}

.dark .preloader {
  background: #000;
  color: #fff;
}