@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kulim Park", sans-serif;
}
.souq-ad
{
  min-width:99vw;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:20;

}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



.logo {
  color: coral;
  font-weight: bolder;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  min-width: 100vw;
  min-height:100vh;
}

.preloader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: coral;
  transition: opacity 2s ease-in-out;
  overflow:none;
}

.loading-finish {
  opacity: 0;
  pointer-events: none;
  height: 100%;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  border: 1px solid coral;
  border-top: none;
  width: 90%;
  margin: 0 auto;
  background-color: #fffcfc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 2;
}

nav .logo {
  flex: 1;
}

nav ul {
  position: absolute;
  right: auto;
  top: 59;
  border: 1px solid coral;
  border-top: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  background-color: #fffcfc;
  transform: translateY(-50px);
  transition: all 1s ease-in-out;
  height: 10%;
  z-index: -1;
}

nav ul li {
  list-style: none;
  opacity: 0;
}

nav ul li a {
  text-decoration: none;
  color: coral;
}
.ham-menu {
  cursor: pointer;
  z-index: 2;
}

.ham-menu .line {
  width: 30px;
  height: 04px;
  margin-bottom: 5px;
  background-color: darkorange;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}
.slide {
  display: flex;
  transform: translateY(0px);
}

.tasbeeh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  min-height:100vh;
  min-width:90vw;
}

.options {
  margin-top: 50px;
  text-align:center;
/*   z-index: -2; */
}
.options button {
  padding: 9px;
  width: 130px;
  background-color: coral;
  border-radius: 3px;
  border: 1px solid;
  color: #fff;
}

.options-container {
  display: none;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-bottom:30px;
}
.title-button
{
  display:flex;
  flex-direction:column;
  margin-top:5px;
}
.title-button span
{
  margin-bottom:5px;
}
.title-button button
{
  margin-bottom:5px;
}

.toggle-options {
  display: flex;
}

.target-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom:30px;
}

.target-container input {
  height: 100px;
  width: 100px;
  text-align: center;
 
}

.target-container input:focus
{
  border-bottom: 1px solid #2196F3;
}

.tasbeeh {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  width: 220px;
  height: 350px;
  border: 1px solid coral;
  border-radius: 16px;
  padding: 10px 15px;
  box-shadow:1px 1px 7px 1px #a29595fc;
}

.tasbeeh-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6px;

}
.tasbeeh .logo {
  margin-top: 15px;
  margin-bottom: 2px;
}

.tasbeeh button {
  box-shadow:0px 0px 6px 0px #5f5353fc;
  outline: none;
  webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.tasbeeh button:active
{
  background-color:coral;
}

.tasbeeh input {
  width: 80%;
  padding: 8px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ff7f50;
  height: 60px;
  outline: none;
  text-align: end;
   background-color:transparent;
}

.tasbeeh input:focus
{
  border-bottom: 1px solid #2196F3;
}

.reset-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5px;
}

.add-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.deduct-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 5px;
}

.reset {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 20px;
  color: coral;
  background-color: #fff;
}

.reset:hover {
  color: #d04511;
  cursor: pointer;
}

.deduct {
  border-radius: 50px;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 20px;
  color: coral;
  background-color: #fff;
}

.deduct:hover {
  color: #da5f31;
  cursor: pointer;
}

.add {
  border-radius: 50%;
  padding: 5px;
  border: 1px solid;
  font-size: 9px;
  width: 170px;
  height: 180px;
  color: coral;
  background-color: #fff;
}

.add:hover {
  color: #c57253;
  cursor: pointer;
}


.comment {
  width: 300px;
}
.tasbeeh-textarea {
  width: 100%;
  border: 1px solid coral;
  border-radius: 5px;
  padding: 15px;
}

footer
{
  background-color:coral;
  margin-top:12px;
  padding:14px;
  color:#fff;
  display:flex;
  flex-direction:row;
}

footer a
{
  text-decoration:none;
  color:#fff;
  margin-bottom:2px;
}

footer .left{
    display:flex;
  flex-direction:column;
  flex:1;
  align-items:center
}

footer .right{
   display:flex;
  flex-direction:column;
  flex:1;
  align-items:center;
}

footer .head
{
  margin-bottom:5px;
  text-decoration:underline;
}

@media screen and (min-width: 800px) {
  nav ul {
    width: 20%;
  }
  .tasbeeh-container {
/*     height: 94%; */
  }

  .options button {
    padding: 9px;
    width: 130px;
  }

  .target-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .target-container input {
    height: 100px;
    width: 100px;
  }

  .tasbeeh {
    margin: 0 auto;
    width: 300px;
    height: 350px;
    padding: 10px 15px;
  }

  .tasbeeh-action {
    width: 100%;
    height: 100%;
    padding: 6px;
  }
  .tasbeeh .logo {
    margin-top: 15px;
    margin-bottom: 2px;
  }

  .tasbeeh input {
    width: 80%;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    height: 60px;
  }

  .reset-container {
    width: 100%;
    margin-right: 5px;
  }

  .add-container {
    width: 100%;
  }

  .deduct-container {
    width: 100%;
    margin-left: 5px;
  }

  .reset {
    padding: 5px;
    border: 1px solid;
    font-size: 9px;
    width: 20px;
  }

  .reset:hover {
    color: #d04511;
    cursor: pointer;
  }

  .deduct {
    padding: 5px;
    border: 1px solid;
    font-size: 9px;
    width: 20px;
  }

  .deduct:hover {
    color: #da5f31;
    cursor: pointer;
  }

  .add {
    padding: 5px;
    font-size: 9px;
    width: 200px;
    height: 200px;
  }

  .add:hover {
    color: #c57253;
    cursor: pointer;
  }

  .comment {
    width: 300px;
    margin-top:14px;
  }

  .comment span
  {
    margin-bottom:5px;
    color:coral;
  }
  .tasbeeh-textarea {
    width: 100%;
    border: 1px solid coral;
    border-radius: 5px;
    padding: 15px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes line {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180px);
  }
}

/* dark theme */

.dark
{
  background-color:black;
  color:#fff;
}

.dark .tasbeeh
{
  background-color:white;
  color:#fff;
  border:none;
  box-shadow:none;
}

.dark .comment span
{
  color:#fff;
}

.dark .comment textarea
{
  color:#000;
  border:none;
  box-shadow:none;
}

.dark .tasbeeh .logo
{
  background-color:white;
  color:#000;
  border:none;
  box-shadow:none;
}

.dark .tasbeeh button
{
  border:none;
  background-color:#565252;
  color:#fff;
}

.dark .tasbeeh button:active
{
  border:none;
  background-color:#ffffff;
  color:#000;
}

.dark .digital-tasbeeh-value
{
  border-bottom:1px solid #000;
  color:
}


.dark footer
{
  background-color:#fff;
  color:#000;
}

.dark footer a
{
  color:#000
}

.dark nav a
{
  color:#000
}

.dark .options{
/*   background-color:#fff; */
/*   color:#000; */
  border:none
}

.dark .options-button
{
  color:#000;
  background-color:#fff;
  
}

.dark .options-container button
{
  color:#000;
  background-color:#fff;
  
}

.dark .preloader
{
  background: #000;
  color:#fff;
}
